body {
    padding: 2.7%;
    margin: 0%;
    border: 0.3rem solid #f8f8f2;
    border-radius: 1rem;
    background-color:  #282c34;
}

h2 {
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-size: 24px;
    font-style: normal; font-variant: normal; font-weight: 700;
    line-height: 26.4px;
    color: #98c379; 
}

h3 { 
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-size: 14px; font-style: normal; font-variant: normal;
    font-weight: 700; line-height: 15.4px;
    color: #98c379;
} 

p { 
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-size: 14px; font-style: normal; font-variant: normal;
    font-weight: 400; line-height: 20px;
    color: #d19a66;
}

blockquote { 
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-size: 21px; font-style: normal;
    font-variant: normal; font-weight: 400;
    line-height: 30px;
} 

pre { 
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-size: 13px; font-style: normal;
    font-variant: normal; font-weight: 400;
    line-height: 18.5714px;
}

sub {
    font-weight: bold;
    color: #d19a66;
}

a,
a:visited {
  color: #d19a66;
}

a:hover,
a:focus,
a:active {
  color: #b18256;
}

.authorImage {
    border-radius:100%;
}